body {
	background-color: #40a040;
	font-family: arial;
	color: rgba(255, 255, 255, 0.9);
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.95);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	float:right;
	margin: 20px;
}